

	/* LISTA COM IMAGEM */

	body {
		background-color: white;
	}
	h1 {
		font-family: sans-serif;
		font-size: 14pt;
		font-weight: bold;
		color: red;
	}
	ul {
		font-family: Arial;
		font-size: 12pt;
		list-style-image: url(bolos.jpg);
		list-style-position: inside;                   /* OPÇÔES - inside / outside  */
	}