

	/* TIPOS DE MARCADORES */

	h1 {
		font-family: sans-serif;
		font-size: 14pt;
		font-weight: bold;
		color: red;
	}
	ul {
		font-family: Arial;
		font-size: 12pt;
		list-style-type: lower-alpha;            
	}
		/* OPÇÔES 
		* disc, circle, square
		* decimal-leading-zero
		* lower-roman, upper-roman
		* lower-alpha, upper-alpha
		* lower-greek, lower-latin, upper latin
		* armenian, georgian, hebrew
		* hiragana, katakana, hiragana-iroha, hatakana-iroha        */
		